@model IEnumerable<User>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@*@Html.ActionLink("Edit" , "getInfo" , "User", new { id =  id})*@


<hr>

<table class="table">
    <thead>
        <tr>
            <th>
              Username  @*@Html.DisplayNameFor(model[0] => model.)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Address
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NormalizedName)*@
                First
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ConcurrencyStamp)*@
                Last
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
